@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  background: #e0e7ef;
}
::-webkit-scrollbar-thumb {
  background: #2563eb99;
  border-radius: 8px;
}
